.emphasis {
  background-color: #ffa41b;
  font-weight: bold;
}

.disclaimertext {
  padding: 5px;
}

.steps {
  padding: 8px;
  margin-top: 15px;
  margin-bottom: 15px;
}

.container {
  display: grid;
  grid-template-columns: 50% 50%;
}

.divL, .divR {
  padding: 10px;
  margin-top: 10px;
}

.divL {
  background: #a7e9af;
}

.divR {
  background: #75b79e;
}

h2 {
  font-family: 'Roboto', sans-serif;
}

h3 {
  font-family: "Roboto", sans-serif;
  font-weight: bold;
}

p {
  font-family: 'Nanum Gothic', sans-serif;
}

label {
  font-family: "Nanum Gothic", sans-serif;
}

a {
  padding: 2px;
}

body {
  margin: 0px;
  background-color: #f1f3f4;
  padding-top: 0%;
  padding-left: 2%;
  padding-right: 2%
}

button {
  background-color: #40514e;
  color: white;
  padding: 7px 7px;
  text-align: center;
  text-decoration: none;
  font-size: 14px;
  font-family: 'Nanum Gothic', sans-serif;
}

.buttonlarge{
  background-color: #40514e;
  color: white;
  padding: 10px 10px;
  text-align: center;
  text-decoration: none;
  font-size: 18px;
  font-family: 'Nanum Gothic', sans-serif;

}
